:root {
  /* colors */
  --background-color: #0c111d;
  --background-color-secondary: #131317;
  --background-tertiary: #334155;

  --font-color: #ffffff;
  --font-color_lowlight: #94a3b8;
  --border-color: #334155;
  --border-color_outline: #4499f7;
  /** colors: buttons */
  --button-background-color: inherit;
  --button-background-color_hover: #141c2b;
  --button-background-color_active: #1e293b;
  --button-background-color_submit: #3b82f6;
  --button-background-color_submit_hover: #2463eb;
  --button-background-color_submit_active: #1c4ed8;
  /* sizes */
  --size_min_px: 1px;
  /** sizes:absolute */
  --size_px: 16px;
  --size_125px: calc(var(--size_px) * 0.125);
  --size_250px: calc(var(--size_px) * 0.25);
  --size_375px: calc(var(--size_px) * 0.375);
  --size_500px: calc(var(--size_px) * 0.5);
  --size_625px: calc(var(--size_px) * 0.625);
  --size_750px: calc(var(--size_px) * 0.75);
  --size_875px: calc(var(--size_px) * 0.875);
  --size_1125px: calc(var(--size_px) * 1.125);
  --size_1250px: calc(var(--size_px) * 1.25);
  --size_1375px: calc(var(--size_px) * 1.375);
  --size_1500px: calc(var(--size_px) * 1.5);
  --size_2000px: calc(var(--size_px) * 2);
  --size_3000px: calc(var(--size_px) * 3);
  --size_4000px: calc(var(--size_px) * 4);
  /** sizes:relative */
  --size_rem: 1rem;
  --size_125rem: calc(var(--size_rem) * 0.125);
  --size_250rem: calc(var(--size_rem) * 0.25);
  --size_375rem: calc(var(--size_rem) * 0.375);
  --size_500rem: calc(var(--size_rem) * 0.5);
  --size_625rem: calc(var(--size_rem) * 0.625);
  --size_750rem: calc(var(--size_rem) * 0.75);
  --size_875rem: calc(var(--size_rem) * 0.875);
  --size_1125rem: calc(var(--size_rem) * 1.125);
  --size_1250rem: calc(var(--size_rem) * 1.25);
  --size_1375rem: calc(var(--size_rem) * 1.375);
  --size_1500rem: calc(var(--size_rem) * 1.5);
  --size_2000rem: calc(var(--size_rem) * 2);
  --size_3000rem: calc(var(--size_rem) * 3);
  --size_4000rem: calc(var(--size_rem) * 4);
  /** sizes:application */
  --application-width: calc(50 * var(--size_rem));
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: var(--size_1500rem);
  .first-word {
    font-weight: bold;
  }
}
h2 {
  font-size: var(--size_1250rem);
  font-weight: 600;
}
h3 {
  font-weight: bold;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--size_px);
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
  font-size: var(--size_rem);
  > main {
    width: 100%;
    height: 100%;
    > form {
      max-width: var(--application-width);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: var(--size_1500rem);
      padding-top: var(--size_1500rem);
      padding-left: var(--size_rem);
      padding-right: var(--size_rem);
      margin-left: auto;
      margin-right: auto;
      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--size_rem);
        background-color: var(--background-color-secondary);
        border-radius: var(--size_px);
        border: var(--size_min_px) solid var(--border-color);
        padding: var(--size_rem);
        > header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: var(--size_rem);
          .reset {
            font-size: var(--size_875rem);
            color: var(--font-color_lowlight);
            cursor: pointer;
            display: inline-block;
            border-radius: var(--size_375rem);
            padding: var(--size_250rem);
            &:hover {
              background-color: var(--background-tertiary);
            }
          }
        }
        label {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: var(--size_250rem);
          font-size: var(--size_750rem);
          border: var(--size_min_px) solid var(--border-color);
          outline: var(--size_min_px) solid var(--border-color);
          background-color: inherit;
          border-radius: var(--size_500rem);
          border-width: var(--size_min_px);
          padding: var(--size_750rem);
          &:not(input),
          &:not(textarea) {
            color: var(--font-color_lowlight);
            text-transform: uppercase;
          }
          &:focus-within {
            outline-color: var(--border-color_outline);
          }
          textarea,
          input {
            color: var(--font-color);
            background-color: inherit;
            border: none;
            font-size: var(--size_1125rem);
            width: 100%;
            &:focus {
              outline: none;
            }
          }
          textarea {
            resize: vertical;
          }
        }
      }
      > footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: var(--size_rem);
        button {
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--size_rem);
          border: var(--size_min_px) solid var(--border-color);
          background-color: var(--button-background-color);
          color: inherit;
          border-radius: 100px;
          padding: var(--size_750px) var(--size_px);
          font-size: 100%;
          cursor: pointer;
          &:hover {
            background-color: var(--button-background-color_hover);
          }
          &:active {
            background-color: var(--button-background-color_active);
          }
          &[type="submit"] {
            border: none;
            background-color: var(--button-background-color_submit);
            &:hover {
              background-color: var(--button-background-color_submit_hover);
            }
            &:active {
              background-color: var(--button-background-color_submit_active);
            }
          }
        }
      }
    }
  }
}
