:root {
  --background-color: #0c111d;
  --background-color-secondary: #131317;
  /*rgb(51, 65, 85)*/
  --font-color: #ffffff;
  --border-color: #334155;
  /* --border-color: #4499f733; */
  --lowlight: #94a3b8;

  --button-background-color: inherit;
  --button-background-color_hover: #141c2b;
  --button-background-color_active: #1e293b;

  --button-background-color_submit: #3b82f6;
  --button-background-color_submit_hover: #2463eb;
  --button-background-color_submit_active: #1c4ed8;

  --size_1_4rem: calc(var(--size_rem) * 0.25);
  --size_3_8rem: calc(var(--size_rem) * 0.375);
  --size_1_2rem: calc(var(--size_rem) * 0.5);
  --size_3_4rem: calc(var(--size_rem) * 0.75);
  --size_7_8rem: calc(var(--size_rem) * 0.875);
  --size_rem: 1rem;
  --size_9_8rem: calc(var(--size_rem) * 1.125);
  --size_5_4rem: calc(var(--size_rem) * 1.25);
  --size_3_2rem: calc(var(--size_rem) * 1.5);

  --size_1_4px: calc(var(--size_px) * 0.25);
  --size_3_8px: calc(var(--size_px) * 0.375);
  --size_1_2px: calc(var(--size_px) * 0.5);
  --size_3_4px: calc(var(--size_px) * 0.75);
  --size_7_8px: calc(var(--size_px) * 0.875);
  --size_px: 16px;
  --size_9_8px: calc(var(--size_px) * 1.125);
  --size_5_4px: calc(var(--size_px) * 1.25);
  --size_3_2px: calc(var(--size_px) * 1.5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: var(--size_px);
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: var(--size_3_2rem);
  .first-word {
    font-weight: bold;
  }
}
h2 {
  font-size: var(--size_5_4rem);
  font-weight: 600;
}
h3 {
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  > main {
    width: 100%;
    height: 100%;
    > form {
      padding-top: var(--size_3_2rem);
      padding-left: var(--size_rem);
      padding-right: var(--size_rem);
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: var(--size_3_2rem);
      > div {
        background-color: var(--background-color-secondary);
        border-radius: 16px;
        border: 1px solid var(--border-color);
        width: 100%;
        padding: var(--size_rem);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        gap: var(--size_rem);
        > header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          gap: var(--size_rem);
          .reset {
            font-size: var(--size_7_8rem);
            color: var(--lowlight);
            cursor: pointer;
            display: inline-block;
            border-radius: var(--size_3_8rem);
            padding: var(--size_1_4rem);
            &:hover {
              background-color: hsl(215.3 25% 26.7%);
            }
          }
        }
        label {
          font-size: var(--size_3_4rem);
          border: 1px solid var(--border-color);
          outline-color: var(--border-color);
          background-color: inherit;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: var(--size_1_4rem);
          border-radius: var(--size_1_2rem);
          border-width: 1px;
          padding: var(--size_3_4rem);

          &:not(input),
          &:not(textarea) {
            color: var(--lowlight);
            text-transform: uppercase;
          }
          &:focus-within {
            outline: 1px solid #4499f7;
          }
          textarea,
          input {
            color: var(--font-color);
            background-color: inherit;
            border: none;
            font-size: var(--size_9_8rem);
            width: 100%;
            &:focus {
              outline: none;
            }
          }
          textarea {
            resize: vertical;
          }
        }
      }
      > footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        button {
          border: 1px solid var(--border-color);
          background-color: var(--button-background-color);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          flex: 1 1 auto;
          color: inherit;
          border-radius: 9999px;
          padding: var(--size_3_4px) var(--size_px);
          font-size: 100%;
          cursor: pointer;
          &:hover {
            background-color: var(--button-background-color_hover);
          }
          &:active {
            background-color: var(--button-background-color_active);
          }
          &[type="submit"] {
            border: none;
            background-color: var(--button-background-color_submit);
            &:hover {
              background-color: var(--button-background-color_submit_hover);
            }
            &:active {
              background-color: var(--button-background-color_submit_active);
            }
          }
        }
      }
    }
  }
}
